<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>
<h1>Edit Student</h1>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="name" value="{{ student.name }}" placeholder="Name"><br><br>

    <input type="text" name="roll" value="{{ student.roll_number }}" placeholder="Roll Number"><br><br>

    <input type="text" name="course" value="{{ student.course }}" placeholder="Course"><br><br>

    <input type="number" name="marks" value="{{ student.marks }}" placeholder="Marks"><br><br>

    <button type="submit">Update Student</button>
</form>
</body>
</html>